body {
    border-radius: 15px;
    background: none;
}

.container{
    padding: 25px;
}

.Logo {
    max-height: 50px;
}

.subLogo {
    max-height: 30px;
}

.customerBox {
    border-radius: 10px;
    background-color: rgba(70,70,70,0.35);
    position: relative;
}

#autocomplete-input.autocomplete {
    color: white;
}

.inputField {
    color: white;
}


